<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>添加保险箱</title>
  <link rel="stylesheet" href="../public/css/add.css">
  <script src="../public/js/fontsizeset.js"></script>

</head>

<body>
  <div id="abou">

    <div class="head">
      <img src="../public/images/ztl.png" alt class="ztl">
      <a href="/home">
      <img src="../public/images/back.png" alt class="back">
    </a>
      <span class="mike">添加保险箱</span>
    </div>
    <div class="con">
      <!-- 内容部分 -->
      <form action="/monitor" method="get">
        <span class="add1">保险箱信息</span>
        <p>保险箱品牌：三星</p>
        <p>保险箱序列号：123456gifji</p>
        <p>保险箱IP：192.168.1.1</p>
        <input type="text" id="name" placeholder="请输入保险箱名称" class="name" maxlength="8"  name='monname'>
        <input type="submit" value="添加保险箱" class="sub">
      </form>
    </div>
  </div>


</body>

</html>