<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
{% block style %}
<link rel="stylesheet" href="../public/css/reg.css">

{% endblock %}


<body>
    <div class="xinxi"> <img src="../public/images/xinxi.png" alt=""><span>
            <script language=javascript>
                var xxCon = Math.floor(Math.random() * 9222 + 1)
                document.write(xxCon);</script>
        </span></div>
    <div class="register">
        <img src="./../public/images/blackhead.jpg" alt="" class="regblackhead">

        <div class="regmenu">
            <a href='/home'>
                <img src="./../public/images/切图/ios/Return@2x.png" alt="" class="regreturn">
            </a>


            <span class="registerText" style="margin-left: 2.65rem;">
                {{registerText}}
            </span>

        </div>

        <!-- -- -->
        <div class="regContent">
            <div class="phoneTitle">
                <span class="phonetext">
                    {{phonetext}}
                </span>
                <!-- <span class="phonetitle">
                    {{phonetitle}}
                </span> -->
                <input type="number" placeholder="{{phonetitle}}" class="phonetitle inp" max="16"><span class="code">❌验证码输入错误</span><span
                    class="code2">✔验证码输入正确</span>
            </div>
            <div class="codeTitle">
                <span class="codetext">
                    {{codetext}}
                </span>
                <!-- <span class="codetitle">
                    {{codetitle}}
                </span> -->
                <input type="text" placeholder="{{codetitle}}" class="codetitle inp" maxlength="4">
                <input type="button" class="getcode" value=" 获取验证码" onclick="settime(this);">
            </div>
            <div class="passwordTitle">
                <span class="passwordtext">
                    {{passwordtext}}
                </span>
                <!-- <span class="passwordtitle">
                    {{passwordtitle}}
                </span> -->
                <input type="password" placeholder="{{passwordtitle}}" class="passwordtitle inp" maxlength="16" style="margin-left: 0.3rem">
            </div>
            <div class="shang">
                <a href='/add' class="register_btn">
                    <span class="register_text">
                        {{register_text}}

                    </span>
                </a>
            </div>
        </div>

    </div>
    <script src="../public/js/fontsizeset.js"></script>
    <script src="../public/js/jquery.js"></script>
    <script>
        $('.inp').blur(function () {
            var codetitle = $('.codetitle').val()
            if (codetitle == xxCon) {
                $('.code').css({ 'display': 'none' })
                $('.code2').css({ 'display': 'block' })
            } else {
                $('.code2').css({ 'display': 'none' })
                $('.code').css({ 'display': 'block' })
            }
        })
        var countdown = 60;
        function settime(val) {
            if (countdown == 0) {
                val.removeAttribute("disabled");
                val.value = "获取验证码";
                countdown = 60;
                return false;

            } else {
                console.log(xxCon)
                val.setAttribute("disabled", true);
                val.value = "重新发送(" + countdown + ")";
                countdown--;
                if (countdown == 57) {
                    $(".xinxi").css({ 'display': 'block' })
                }
                if (countdown == 5) {
                    $(".xinxi").css({ 'display': 'none' })
                }
            }
            setTimeout(function () {
                settime(val);
            }, 1000);

        }

    </script>

</body>

</html>