<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/Monitor.css">
</head>

<body>
    <div id='wewewe'>
    <div id="home">
        <div>
            <img src="../public/images/blackhead.jpg" alt="" class="blackhead">
            <div class="blackmenu" style="background-color: #17181a;">
                <img src="../public/images/切图/ios/back@2x.png" alt="" class="persen">

                <span class="text">保险箱</span>
                <a href="/add">
                <img src="../public/images/切图/ios/add@2x.png" alt="" class="add">
            </a>
            </div>
        </div>
        <!-- --- -->
        <a href="/My">
        <img src="../public/images/isMy.jpg" alt="" class="my">
        </a>
        <img src="../public/images/切图/ios/guanggao@2x.png" alt="" class="guanggao">
        <img src="../public/images/切图/ios/safebox_icon@2x.png" alt="" class="safebox_icon">
        <p class="homename">
            {{monname}}保险箱
        </p>
        <p class="end_place">
            {{Endplace}}
        </p>
        <a href="/BOX" class="monitor">
            <span class="monitorSafebox">
                {{monitorSafebox}}
            </span>
        </a>
    </div>
</div>
    <script src="../public/js/fontsizeset.js"></script>
</body>

</html>